# U.S. Medical Insurance Costs Linear Regression

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [14]:
med_insurance_2 = pd.read_csv('med_insurance_processed.csv')
print(med_insurance_2.head(20))

    age     sex     bmi  children smoker      charges  \
0    19  female  27.900         0    yes  16884.92400
1    18    male  33.770         1     no   1725.55230
2    28    male  33.000         3     no   4449.46200
3    33    male  22.705         0     no  21984.47061
4    32    male  28.880         0     no   3866.85520
5    31  female  25.740         0     no   3756.62160
6    46  female  33.440         1     no   8240.58960
7    37  female  27.740         3     no   7281.50560
8    37    male  29.830         2     no   6406.41070
9    60  female  25.840         0     no  28923.13692
10   25    male  26.220         0     no   2721.32080
11   62  female  26.290         0    yes  27808.72510
12   23    male  34.400         0     no   1826.84300
13   56  female  39.820         0     no  11090.71780
14   27    male  42.130         0    yes  39611.75770
15   19    male  24.600         1     no   1837.23700
16   52  female  30.780         1     no  10797.33620
17   23    male  23.845         0     no   2395.17155
18   56    male  40.300         0     no  10602.38500
19   30    male  35.300         0    yes  36837.46700

    weight_category_Normal weight  weight_category_Obesity  \
0                               0                        0
1                               0                        1
2                               0                        1
3                               1                        0
4                               0                        0
5                               0                        0
6                               0                        1
7                               0                        0
8                               0                        0
9                               0                        0
10                              0                        0
11                              0                        0
12                              0                        1
13                              0                        1
14                              0                        1
15                              1                        0
16                              0                        1
17                              1                        0
18                              0                        1
19                              0                        1

    weight_category_Overweight  weight_category_Underweight  region_northeast  \
0                            1                            0                 0
1                            0                            0                 0
2                            0                            0                 0
3                            0                            0                 0
4                            1                            0                 0
5                            1                            0                 0
6                            0                            0                 0
7                            1                            0                 0
8                            1                            0                 1
9                            1                            0                 0
10                           1                            0                 1
11                           1                            0                 0
12                           0                            0                 0
13                           0                            0                 0
14                           0                            0                 0
15                           0                            0                 0
16                           0                            0                 1
17                           0                            0                 1
18                           0                            0                 0
19                           0                            0                 0

    region_northwest  region_southeast  region_southwest
0                  0                 0                 1
1                  0                 1                 0
2                  0                 1                 0
3                  1                 0                 0
4                  1                 0                 0
5                  0                 1                 0
6                  0                 1                 0
7                  1                 0                 0
8                  0                 0                 0
9                  1                 0                 0
10                 0                 0                 0
11                 0                 1                 0
12                 0                 0                 1
13                 0                 1                 0
14                 0                 1                 0
15                 0                 0                 1
16                 0                 0                 0
17                 0                 0                 0
18                 0                 0                 1
19                 0                 0                 1